.modal-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modal-content {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* AdminDashboard.css */

@media (max-width: 768px) {
  .sidebar-open {
    margin-left: -250px; /* Adjust this value according to sidebar width */
  }
}
